* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  background-color:#254557;
  margin: 0px;
  padding: 25px 10px 15px 10px;
  z-index: 100;
}

.teamname {
  margin-right: auto;
}
.teamname > h3 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

nav li {
  display: inline-block;
  margin: 0;
  padding-left: 3%;
  padding-right: 3%;
}

a {
  color: white;
  text-decoration: none;
}

.head {
  height: 350px;
  font-weight: bold;
  text-align: center;
  margin-top: 70px;
  font-size: 2.5rem;
  position: relative;
  padding-bottom: 10%;
  background-image: url("images/mountains.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

}

.headlinepara {
  position: relative;
  top: 40%;
}


h2 {
  display: inline-block;
}

header > h3 {
  font-size: 2rem;
}

#aboutsection {
  background-color: white;
}

footer > h3, h5 {
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 20px;
  text-align: right;
}

footer > a {
  color: white;
  padding: 3px 10px;
  margin: 0;
  text-align: right;
  line-height: 1rem;
}

.sectionabout {
  display: flex;
  border: 0px solid blue;
  margin: 40px 0 35px 0;
}
.sectionabout img {
  width: 200px;
  height: 200px;
}
.aboutheader {
  margin: 20px 0 5px 0;
}

.articlea {
  flex: 1;
  border: 0px solid red;
}

.subsection1 {
  text-align: center;
  target: padding-top: 100px;
  background-color:#254557;
  color: white;
  border: 1px solid #254557;
}
.subsection1 > header > h3 {
    display: inline-block;
    padding: 40px 0 30px 0;
    margin: 0;
}
.subsection {
    text-align: center;
    target: padding-top: 100px;
}

.subsection > header {
    display: inline-block;
    padding: 10px 0 20px 0;
}

.article1 {
  padding: 0px 0px 10px 0px;
  margin: 0 10%;
}

.article1 > h2 {
  font-weight: bold;
  width:100%;
}

.article1 > p {
  line-height: 2rem;
}

.bios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px 3% 50px 3%;
    justify-content: center;
}

.bios > article {
    padding: 0 3%;
    flex: 1;
    min-width: 200px;
}

.bios > article > img {
    width: 100%;
    border: 0px solid white;
}

form {
  margin-top: 40px;
}

label, input {
  display: block;
  margin: auto;
}

input::placeholder, textarea::placeholder {
  color: grey;
}

.inputfield {
  width: 300px;
  height: 2rem;
  margin: 0.5rem auto 1rem auto;
}

.submitbutton {
  margin: 5px auto 25px auto;
}

.messagebox {
  width: 300px;
  height: 10rem;
  margin: 0.5rem 0 1rem 0;
}

.contactform {
  text-align: center;
}

.map {
  height: 570px;
  min-width: 50%;
}

.contactbox {
  display: flex;
  border: 1px solid black;
  align-items: center;
  margin: auto;
}

.contactitem {
  flex: 1;
  border: 0px dashed blue;
}


footer {
  max-width: 100%;
  height: 150px;
  background-color: #254557;
  background-size: cover;

}

footer > p {
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 20px;
  text-align: right;
}

footer > h5 {
  color: white;
  padding: 3px 20px;
  margin: 0;
  text-align: right;
  line-height: 1rem;
}

@media screen and (max-width:1000px) {
  .bios > article {
    min-width: 35%;
    max-width: 45%;
  }
  .bios {
    margin: 10px;
  }
}

@media screen and (max-width:700px) {
  .map {
    height: 250px;
  }
  .contactbox {
    flex-wrap: wrap-reverse;
  }
  .contactform {
    min-width: 350px;
  }
  .sectionabout {
    display:none;
  }
}

@media screen and (max-width:500px) {
  .bios > article {
    min-width: 51%;
    max-width: 85%;
  }
  .bios {
    margin: 10px;
  }
  .nav-container {
    font-size: 1rem;
  }
}

.anchor {
  display: block;
    position: relative;
    width: 0;
    height: 0;
    z-index: -1;
    top: -70px;
    left: 0;
    visibility: hidden;
}
