* {
    box-sizing: border-box;
}

.subsection {
    text-align: center;
    border: 5px solid gray;
}

.subsection > header {
    display: inline-block;
    padding: 10px 0 20px 0;
}

.bios {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    margin-bottom: 20px;
}

.bios > article {
    padding: 0 3%;
    flex: 1;
}

.bios > article > img {
    width: 100%;
    border: 2px solid black;
}

label, input {
  display: block;
  margin: auto;
}

input::placeholder, textarea::placeholder {
  color: grey;
}

.inputfield {
  width: 300px;
  height: 2rem;
  margin: 0.5rem auto 1rem auto;
}

.messagebox {
  width: 300px;
  height: 10rem;
  margin: 0.5rem auto 1rem auto;
}

.contactform {
  margin-bottom: 20px;
}
body{
  font-family: 'Montserrat', sans-serif;

}


nav li{
  display:inline;
  padding-left: : 3%;
  padding-right: 3%;


}

a{
  color: #000000;
  text-decoration: none;
}

.nav-container{
  display: inline-flex;
  justify-content: flex-end;
  width:100%;

}

.teamname{
  float: left;

}
